extends ../layout/main-layout


block content 
    main 
        if products.length > 0
            .grid
                each product in products
                    article.card.product-item    
                        header.card__header 
                            h1.product__title #{product.productId.title}
                        div.card__image
                            img(src=product.productId.imageUrl, width='150' height='300' alt="A book")
                        div.card-contet
                            h2.product__price Price: #{product.productId.price} $
                            p.product__description Description: #{product.productId.description}
                            p Quantity: #{product.quantity}
                        .card__actions
                            a(href="/products/" + product.productId._id, class="btn") Details 
                            form(action="/cart-delete-item" method="POST")
                                button.btn(type="submit") Delete From Cart
                                input(type="hidden" name='productId' value=product.productId._id)
            hr                
            div.centered                    
                form(action="/create-order" method="POST")
                    button.btn(type='submit') Order Now!              
        else
            h1 Cart is empty