extends ../layout/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")
block content
    main
        if prods.length > 0
            .grid
                each product in prods
                    article.card.product-item    
                        header.card__header 
                            h1.product__title #{product.title}
                        div.card__image
                            img(src=product.imageUrl, alt="A book")
                        div.card-contet
                            h2.product__price Price: #{product.price} $
                            p.product__description Description: #{product.description}
                        .card__actions
                            if isAuthenticated
                                form(action="/cart" method="POST")
                                    button.btn(type="submit") Add to cart
                                    input(type="hidden" name='productId' value=product._id)
        else 
            h1 No products
        input(type="hidden", name='_csrf' value=`${csrfToken}`)
